{% liquid
  if section.settings.image_ratio == 'landscape'
    assign mediaRatio = 75
  elsif section.settings.image_ratio == 'square'
    assign mediaRatio = 100
  elsif section.settings.image_ratio == 'portrait'
    assign mediaRatio = 125
  else
    if block.settings.media_image != blank
      assign mediaRatio = 1 | divided_by: block.settings.media_image.aspect_ratio | times: 100
    else
      assign mediaRatio = 100
    endif
  endif
%}

      
          
<div class="swiper-slide flexible collection-list--card">
    <div class="flexi_collection_content">
  <div class="collection-card--img style-{{ section.settings.card_style }}">
         {% if block.settings.selected_product != blank %}
            {% assign product_card = block.settings.selected_product %}
            {% assign current_variant = product.selected_or_first_available_variant %}
            <div class="flexible-gallery-info product-hover">
              <div class="flexible-card-info-img">
                {% if product_card.featured_media != blank %}
                  {%- assign widths = '50, 100, 150, 200, 400, 500' -%}
                  {%- capture sizes -%}
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                  {%- endcapture -%}
                  {{
                    product_card.featured_media
                    | image_url: width: 1000
                    | image_tag: sizes: sizes, widths: widths
                  }}
                {% else %}
                  {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
              <div>
                <a
                  href="{{ product_card.url | within : collection }}"
                  {% if product_card == blank %}
                    aria-disabled="true"
                  {% endif %}
                >
                  {% if product_card.title %}
                    {{- product_card.title | strip_html -}}
                  {% else %}
                    {{ 'onboarding.product_title' | t }}
                  {% endif %}
                </a>
                <product-price-list class="product-price-list">
                  {%- assign price_min = product_card.price_min | default: 1899 | money -%}
                  <product-sale-price class="product-price-actual">
                    {%- if product_card.price_varies -%}
                      <span class="product-actual-price varies-price">
                        {{ 'products.product.price.from_price_html' | t: price: price_min }}
                      </span>
                    {%- else -%}
                      <span class="product-actual-price">{{ price_min }}</span>
                    {%- endif -%}
                    {%- if product_card.compare_at_price_min > product_card.price_min -%}
                      <small class="product-compare-price">
                        {{- product_card.compare_at_price_min | money -}}
                      </small>
                    {%- endif -%}
                    {%- if current_variant.unit_price_measurement -%}
                      <span class="product-unit-price">
                        ( {{ current_variant.unit_price | money }} /
                        {% if current_variant.unit_price_measurement.reference_value != 1 -%}
                          {{- current_variant.unit_price_measurement.reference_value -}}
                        {%- endif %}
                        {{ current_variant.unit_price_measurement.reference_unit }} )
                      </span>
                    {%- endif -%}
                  </product-sale-price>
                </product-price-list>
              </div>
              <a
                href="{{ product_card.url | within : collection }}"
                class="media-gallery-icon"
                {% if product_card == blank %}
                  aria-disabled="true"
                {% endif %}
              >
                <svg
                  width="11"
                  height="11"
                  viewBox="0 0 11 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.597656 0.640625H10.6242V10.5526H9.37092V2.7556L2.29466 9.75223L1.85098 10.1896L0.96488 9.31362L1.4073 8.87502L8.48482 1.87962H0.597656V0.640625Z" fill="currentColor"/>
                </svg>
              </a>
            </div>
          {% endif %}
        <div class="media-ratio" style="--media-ratio:{{ mediaRatio }}%">
            {% if block.settings.video != blank %}
             <deferred-media
                  class="deferred-media autoplay-true"
                  data-autoplay="true"
                >
                  <template style="display:none">
                    {{
                      block.settings.video
                      | video_tag:
                        image_size: '1200x',
                        class: 'media-grid--video',
                        autoplay: true,
                        loop: true,
                        controls: false,
                        muted: true
                    }}
                  </template>
                  <noscript>
                    {{
                      block.settings.video
                      | video_tag:
                        image_size: '1100x',
                        class: 'media-grid--video',
                        autoplay: true,
                        loop: true,
                        controls: false,
                        muted: true
                    }}
                  </noscript>
                </deferred-media>
            {% elsif block.settings.media_image != blank %}
                <div class="fc-image ratio-{{ section.settings.image_ratio }}" style-{{ section.settings.card_style }}>
                    <img
                        src="{{ block.settings.media_image | image_url: width: 800 }}"
                        alt="{{ block.settings.heading | escape }}"
                        sizes="(min-width: 750px) calc(100vw - 10rem),calc(100vw - 3rem)"
                        height="{{ block.settings.media_image.height }}"
                        width="{{ block.settings.media_image.width }}"
                        loading="lazy"
                    >
                </div>
            {% else %}
               {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
        </div>
        {% if block.settings.icon_hover and block.settings.icon_image != blank %}
            <div class="hover-icon">
                <a href="{{ block.settings.icon_link }}" target="_blank">
                    <img src="{{ block.settings.icon_image | image_url: width: 100 }}" loading="lazy" />
                </a>
            </div>
        {% endif %}
    </div>
    <heading-main class="main-heading text-align-{{ section.settings.content_alignment }}">
      {% if block.settings.heading != blank %}
        <{{ block.settings.heading_seo }} class="{{ block.settings.heading_size }}">
          {{ block.settings.heading }}
        </{{ block.settings.heading_seo }}>
      {% endif %}

      {%- if block.settings.description != blank -%}
        <div class="description {{ block.settings.description_size }}">
          {{ block.settings.description | newline_to_br }}
        </div>
      {% endif %}
    </heading-main>
    <div class="text-align-{{ section.settings.content_alignment }}">
    {%- if block.settings.btn_text != blank and block.settings.btn_link != blank -%}
      <a
        href="{{ block.settings.btn_link }}"
        class="{% if block.settings.button_style == 'text' %}underline--link{% else %}{{ settings.button_font }}-font button button-{{ block.settings.button_style }} button-{{ block.settings.btn_size }} hover-{{ block.settings.hover_effect }}{% endif %}"
      >
        <span class="button-text">{{ block.settings.btn_text }}</span>
        {% if block.settings.button_style == 'text' %}
          <span class="link-arrow">
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H8V8H7V1.707L1.354 7.354L1 7.707L0.293 7L0.646 6.646L6.293 1H0V0Z" fill="currentColor"/>
            </svg>
          </span>
        {% endif %}
      </a>
    {% endif %}
    </div>
  </div>
</div>
