<account-drawer
  class="drawer drawer-account color-{{ section.settings.color_scheme }}"
  id="loginccount-drawer"
  role="dialog"
  data-drawer-open
  data-drawer-id="login-drawer"
>
  <div class="overlay" data-drawer-close></div>
  <div class="drawer-base">
    <modal-dialog-head class="modal-dialog-head">
      {% if section.settings.heading != blank %}
        <{{ section.settings.heading_seo }}
          class="section-title body-font {{ section.settings.heading_size }}"
          data-id="#login"
        >
          {{- section.settings.heading -}}
        </{{ section.settings.heading_seo }}>
      {% endif %}

      <h3 class="section-title body-font  {{ section.settings.heading_size }}" data-id="#recover" id="recover-title">
        {{  'customer.recover_password.title' | t }}
      </h3>
      <a href="#" class="drawer-close" data-drawer-close aria-label="close">
        <close-btn>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 1L1 21M1 1L21 21" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round"/>
          </svg>
        </close-btn>
      </a>
    </modal-dialog-head>
    <modal-dialog-form class="modal-dialog-form">
      <div class="customer_wrapper">
        <div id="recover">
          <div class="customer-head text-align-center">
            <p class="text-md">{{'customer.recover_password.enter_email' | t }}</p>
          </div>
          {%- form 'recover_customer_password', class: 'account-form flex column align-items-start' -%}
            {%- if form.errors -%}
              <div id="recover-email-error" role="alert" class="alert alert-warning">
                {{ form.errors.messages.form }}
              </div>
            {%- endif -%}
            {% assign recover_success = form.posted_successfully? %}
            <div class="form-control">
              <label for="RecoverEmail" class="hidden">{{ 'customer.login_page.email' | t }}</label>
              <input
                type="email"
                name="email"
                id="RecoverEmail"
                autocomplete="email"
                autocapitalize="off"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="RecoverEmail-email-error"
                {% endif %}
                placeholder="{{ 'customer.login_page.email' | t }}"
                pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                required
                class="input"
              >
            </div>

            <button class="button button-md w-100 {{ settings.button_font }}-font" type="submit">
              {{ 'customer.login_page.submit' | t }}
            </button>

            <a href="#login" class="underline" data-target-login>
              {{- 'customer.login_page.cancel' | t -}}
            </a>
          {% endform %}
        </div>

        <div id="login">
          {% if section.settings.heading != blank %}
            <div class="customer-head">
              {% if section.settings.description != blank %}
                <div class="section-description {{ section.settings.description_size }}">
                  {{ section.settings.description | newline_to_br }}
                </div>
              {% endif %}
            </div>
          {% endif %}
          <div class="customer-form-wrapper">
            {%- form 'customer_login', novalidate: 'novalidate', class: 'account-form flex column align-items-start' -%}
              {%- if recover_success == true -%}
                <div id="success-message" role="alert" class="alert alert-success">
                  {{ 'customer.recover_password.success' | t }}
                </div>
              {% endif %}
              {%- if form.errors -%}
                <div id="error-message" role="alert" class="alert alert-warning">
                  <div class="error-heading">
                    {{ form.errors | default_errors }}
                  </div>
                </div>
              {% endif %}
              <div class="form-control">
                <label for="CustomerEmail" class="hidden">{{ 'customer.login_page.email' | t }}</label>
                <input
                  type="email"
                  name="customer[email]"
                  id="CustomerEmail"
                  autocomplete="email"
                  autocapitalize="off"
                  {% if form.errors contains 'form' %}
                    aria-invalid="true"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.email' | t }}"
                  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                  required
                  class="input"
                >
              </div>
              <div class="form-control">
                <label for="CustomerPassword" class="hidden">{{ 'customer.login_page.password' | t }}</label>
                <input
                  type="password"
                  name="customer[password]"
                  id="CustomerPassword"
                  autocomplete="current-password"
                  autocapitalize="off"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.password' | t }}"
                  required
                  class="input"
                >
              </div>

              <a href="#recover" class="underline text-sm forgot-password" data-target-recover>
                {{- 'customer.login_page.forgot_password' | t -}}
              </a>
              <button class="button button-md w-100 {{ settings.button_font }}-font" type="submit">
                {{ 'customer.login_page.submit' | t }}
              </button>

              <a
                href="{{ routes.account_register_url }}"
                class="underline"
                data-account-head
                data-drawer-id="register-drawer"
              >
                {{- 'customer.login_page.create_account' | t }}
              </a>
            {% endform %}
            {% if section.settings.heading_side != blank or section.settings.content_side != blank %}
              <div class="customer-content">
                {% if section.settings.heading_side != blank %}
                  <h6>{{ section.settings.heading_side }}</h6>
                {% endif %}
                {% if section.settings.content_side != blank %}
                  <div class="rte">{{ section.settings.content_side }}</div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </modal-dialog-form>
  </div>
</account-drawer>
