<div class="product-quantity-wrapper">
  <div class="label-text {{ settings.labels_font }}-font">{{ 'products.product.quantity.label' | t }}</div>
  <quantity-element
    id="quantity-Form-product"
    class="quantity quantity-elements"
    data-url="{{ product.url }}"
    data-section="{{ section.id }}"
  >
    <button
      class="quantity-minus"
      type="button"
      name="minus"
      data-decrement-quantity
      aria-label="{{ 'products.product.quantity.decrease' | t }}"
    >
      <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.5 0.5V1.5L0.5 1.5L0.5 0.5L9.5 0.5Z" fill="currentColor" stroke="currentColor"/>
      </svg>
    </button>
    <input
      id="product-quantity-{{ product_form_id }}"
      class="quantity-input"
      type="number"
      name="quantity"
      min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
      {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
        max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
      {% endif %}
      step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
      value="1"
      form="{{ product_form_id }}"
      data-input-quantity
      aria-label="{{ 'products.product.quantity.label' | t }}"
    >
    <button
      class="quantity-plus"
      type="button"
      name="plus"
      aria-label="{{ 'products.product.quantity.increase' | t }}"
      data-increment-quantity
    >
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.5 5.5H6.5V4.5H9.5V5.5ZM5.5 4.5V5.5L4.5 5.5V4.5H5.5ZM4.5 6.5L5.5 6.5L5.5 9.5H4.5L4.5 6.5ZM3.5 4.5V5.5H0.5L0.5 4.5H3.5ZM5.5 3.5L4.5 3.5L4.5 0.5L5.5 0.5L5.5 3.5Z" fill="currentColor" stroke="currentColor"/>
      </svg>
    </button>
  </quantity-element>
</div>
