<quick-view class="drawer drawer-quick-view section" id="quickView-drawer" role="dialog">
  <div data-product-info>
    {{ 'product.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'product.css' | asset_url | stylesheet_tag }}
    {%- assign unique_3d_model = product.media | where: 'media_type', 'model' | first -%}
    {%- if unique_3d_model -%}
      <link
        rel="stylesheet"
        href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      >
    {%- endif -%}
    {% assign current_variant = product.selected_or_first_available_variant %}
    <div class="overlay" data-drawer-close></div>
    <div class="drawer-base">
      <modal-dialog-head class="modal-dialog-head">
        <h4 class="drawer-heading h5">{{ 'products.product.quick_veiw' | t }}</h4>
        <a href="#" class="drawer-close" data-drawer-close aria-label="close">
          <close-btn>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 1L1 21M1 1L21 21" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round"></path>
            </svg>
          </close-btn>
        </a>
      </modal-dialog-head>
      <modal-dialog-form class="modal-dialog-form">
        <div class="quick-view-details">
          {% render 'product-media',
            quickview: true,
            product: product,
            section: section,
            zoomImage: false,
            current_variant: current_variant
          %}
          <div class="product-information--wrapper">
            <div class="product-information--inner">
              {% render 'product-info',
                product_info: true,
                product: product,
                section: section,
                current_variant: current_variant
              %}
            </div>
          </div>
        </div>
      </modal-dialog-form>
    </div>
    <script type="application/json" data-name="main-product-section">
      {{ product.variants | json }}
    </script>
    <script type="application/json" data-name="product-options">
      [{%- for option in product.options_with_values -%}{"name": "{{ option.name }}","position": {{ forloop.index }},"values": [{%- for value in option.values -%}"{{ value }}"{% unless forloop.last %}, {% endunless %}{%- endfor -%}] }{% unless forloop.last %}, {% endunless %} {%- endfor -%} ]
    </script>
    <script type="application/json" data-name="product-inventories">
      [
        {% for variant in product.variants %}
          {
            "id": {{ variant.id }},
            "inventory_management": "{{ variant.inventory_management }}",
            "inventory_policy": "{{ variant.inventory_policy }}",
            "inventory_quantity": {{ variant.inventory_quantity }}
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    </script>
    {%- if unique_3d_model -%}
      <script src="{{ 'product-model.js' | asset_url }}" defer></script>
    {% endif %}
  </div>
</quick-view>
