{%- if settings.social_facebook_link != blank -%}
  <li>
    <a class="social-icons--link" target="_blank" title="Facebook" href="{{ settings.social_facebook_link}}">
      <svg viewBox="0 0 9 14" fill="none">
        <path d="M2.35173 13.4173L2.33333 7.58398H0V5.25065H2.33333V3.79232C2.33333 1.62733 3.67401 0.583984 5.60531 0.583984C6.53048 0.583984 7.32556 0.652859 7.55726 0.683647V2.94618L6.21781 2.94679C5.1674 2.94679 4.96405 3.4459 4.96405 4.17831V5.25065H8.02083L6.85417 7.58398H4.96405V13.4173H2.35173Z" fill="currentcolor"></path>
      </svg>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_youtube_link != blank -%}
  <li>
    <a class="social-icons--link" target="_blank" title="youtube" href="{{ settings.social_youtube_link}}">
      <svg width="29" height="21" viewBox="0 0 29 21" fill="none">
        <path d="M28.3953 3.24598C28.2284 2.64809 27.9102 2.10336 27.4712 1.66444C27.0323 1.22551 26.4876 0.907238 25.8897 0.740377C23.6457 0.139177 14.6145 0.139177 14.6145 0.139177C14.6145 0.139177 5.60609 0.127177 3.33929 0.740377C2.74141 0.907238 2.19667 1.22551 1.75775 1.66444C1.31883 2.10336 1.00055 2.64809 0.83369 3.24598C0.408315 5.54339 0.198603 7.87553 0.20729 10.212C0.200245 12.5396 0.409951 14.8628 0.83369 17.1516C1.00055 17.7495 1.31883 18.2942 1.75775 18.7331C2.19667 19.172 2.74141 19.4903 3.33929 19.6572C5.58089 20.2596 14.6145 20.2596 14.6145 20.2596C14.6145 20.2596 23.6217 20.2596 25.8897 19.6572C26.4876 19.4903 27.0323 19.172 27.4712 18.7331C27.9102 18.2942 28.2284 17.7495 28.3953 17.1516C28.8102 14.862 29.011 12.5388 28.9953 10.212C29.0127 7.87636 28.8118 5.54422 28.3953 3.24598ZM11.7321 14.5212V5.88958L19.2489 10.212L11.7321 14.5212Z"
        fill="currentColor"></path>
      </svg>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_twitter_link != blank -%}
  <li>
    <a class="social-icons--link" target="_blank" title="Twitter" href="{{ settings.social_twitter_link }}">
      <svg class="icon icon-xsmall" viewBox="0 0 15 14" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.084 7C14.084 10.8659 10.9499 14 7.08398 14C3.21812 14 0.0839844 10.8659 0.0839844 7C0.0839844 3.13413 3.21812 0 7.08398 0C10.9499 0 14.084 3.13413 14.084 7ZM10.1514 3.73333H9.04305L7.21652 5.82073L5.63778 3.73333H3.35065L6.08345 7.3066L3.49345 10.2667H4.60225L6.60145 7.9828L8.34818 10.2667H10.5789L7.72985 6.50067L10.1514 3.73333ZM9.26798 9.60307H8.65385L4.64518 4.36193H5.30412L9.26798 9.60307Z"
        fill="currentcolor"></path>
      </svg>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_instagram_link != blank -%}
  <li>
    <a class="social-icons--link" target="_blank" title="Instagram" href="{{ settings.social_instagram_link }}">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.9051 1.23303C8.72509 1.23303 8.94287 1.24081 9.65843 1.27192C10.3273 1.30303 10.6851 1.41192 10.9262 1.50525C11.2451 1.63748 11.4707 1.77748 11.7118 2.01859C11.9451 2.25192 12.1007 2.48525 12.2173 2.79637C12.3107 3.04525 12.4273 3.40303 12.4507 4.07192C12.4895 4.78748 12.4973 5.00525 12.4973 6.82525C12.4973 8.64525 12.4895 8.86303 12.4584 9.57859C12.4549 10.0115 12.3759 10.4405 12.2251 10.8464C12.0929 11.1653 11.9529 11.3908 11.7118 11.6319C11.4784 11.8653 11.2451 12.0208 10.9262 12.1453C10.6851 12.2386 10.3273 12.3475 9.65843 12.3786C8.94287 12.4097 8.72509 12.4175 6.9051 12.4175C5.0851 12.4175 4.86732 12.4175 4.14398 12.3786C3.71366 12.3742 3.28736 12.2952 2.88398 12.1453C2.55732 12.0208 2.33954 11.873 2.09843 11.6319C1.85732 11.3986 1.70954 11.1653 1.5851 10.8541C1.43458 10.4455 1.35564 10.014 1.35176 9.57859C1.32065 8.86303 1.31287 8.64525 1.31287 6.82525C1.31287 5.00525 1.31287 4.78748 1.35176 4.07192C1.38287 3.40303 1.49176 3.04525 1.5851 2.80414C1.70954 2.48525 1.85732 2.2597 2.09843 2.01859C2.33176 1.78525 2.5651 1.6297 2.87621 1.51303C3.1251 1.4197 3.48287 1.30303 4.14398 1.2797C4.86732 1.24081 5.07732 1.23303 6.9051 1.23303ZM6.9051 0.00414324C5.05398 0.00414324 4.82065 0.011921 4.08954 0.0430321C3.36621 0.0741432 2.86843 0.198588 2.43287 0.354143C1.98954 0.533032 1.60843 0.774143 1.22732 1.14748C0.861762 1.52859 0.628429 1.9097 0.441762 2.35303C0.270651 2.78859 0.153984 3.28637 0.130651 4.0097C0.0839844 4.74859 0.0839844 4.98192 0.0839844 6.82525C0.0839844 8.66859 0.0917622 8.9097 0.122873 9.63303C0.153984 10.3641 0.278429 10.8541 0.433984 11.2897C0.612873 11.7408 0.853984 12.1219 1.22732 12.503C1.60843 12.8764 1.98954 13.1097 2.43287 13.2886C2.86843 13.4597 3.36621 13.5764 4.08954 13.5997C4.82065 13.6386 5.05398 13.6464 6.9051 13.6464C8.76398 13.6464 8.98954 13.6386 9.72065 13.6075C10.444 13.5764 10.9418 13.4519 11.3773 13.2886C11.8317 13.118 12.2433 12.8498 12.5829 12.503C12.964 12.1219 13.1973 11.7408 13.3684 11.2897C13.5395 10.8619 13.6562 10.3641 13.6873 9.63303C13.7184 8.9097 13.7262 8.67637 13.7262 6.82525C13.7262 4.96637 13.7262 4.74081 13.6873 4.0097C13.6775 3.44391 13.5723 2.88383 13.3762 2.35303C13.2033 1.89789 12.9325 1.48632 12.5829 1.14748C12.242 0.802213 11.8308 0.534303 11.3773 0.361921C10.8471 0.162576 10.2869 0.0547458 9.72065 0.0430321C8.78263 0.0054457 7.84379 -0.00752172 6.9051 0.00414324Z" fill="currentColor"></path>
        <path d="M6.92773 3.11526C5.99948 3.11526 5.10924 3.48401 4.45286 4.14039C3.79648 4.79676 3.42773 5.687 3.42773 6.61526C3.42773 7.54352 3.79648 8.43376 4.45286 9.09013C5.10924 9.74651 5.99948 10.1153 6.92773 10.1153C7.85599 10.1153 8.74623 9.74651 9.40261 9.09013C10.059 8.43376 10.4277 7.54352 10.4277 6.61526C10.4277 5.687 10.059 4.79676 9.40261 4.14039C8.74623 3.48401 7.85599 3.11526 6.92773 3.11526ZM6.92773 8.89415C6.62898 8.89415 6.33314 8.8353 6.05713 8.72097C5.78111 8.60664 5.53032 8.43907 5.31907 8.22782C5.10781 8.01656 4.94024 7.76577 4.82591 7.48975C4.71158 7.21374 4.65273 6.91791 4.65273 6.61915C4.65273 6.32039 4.71158 6.02456 4.82591 5.74854C4.94024 5.47253 5.10781 5.22173 5.31907 5.01048C5.53032 4.79923 5.78111 4.63165 6.05713 4.51732C6.33314 4.40299 6.62898 4.34415 6.92773 4.34415C7.5311 4.34415 8.10976 4.58384 8.5364 5.01048C8.96305 5.43713 9.20273 6.01578 9.20273 6.61915C9.20273 7.22252 8.96305 7.80117 8.5364 8.22782C8.10976 8.65446 7.5311 8.89415 6.92773 8.89415ZM10.5288 3.89304C10.7454 3.89304 10.9532 3.807 11.1063 3.65384C11.2595 3.50069 11.3455 3.29296 11.3455 3.07637C11.3455 2.85978 11.2595 2.65206 11.1063 2.4989C10.9532 2.34575 10.7454 2.2597 10.5288 2.2597C10.3123 2.2597 10.1045 2.34575 9.95137 2.4989C9.79822 2.65206 9.71218 2.85978 9.71218 3.07637C9.71218 3.29296 9.79822 3.50069 9.95137 3.65384C10.1045 3.807 10.3123 3.89304 10.5288 3.89304Z" fill="currentColor"></path>
      </svg>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_pinterest_link != blank -%}
  <li>
    <a
      class="unstyled-link social-icons--link focus-inside"
      target="_blank"
      title="Pinterest"
      href="{{ settings.social_pinterest_link }}"
    >
      <svg width="17" height="18" viewBox="0 0 17 18" fill="none">
        <path d="M8.48 0.579971C10.6922 0.589881 12.8115 1.46996 14.38 3.02997C15.67 4.33557 16.4981 6.02692 16.7382 7.84656C16.9783 9.6662 16.6172 11.5145 15.71 13.11C14.9808 14.3812 13.9273 15.4361 12.6571 16.1669C11.3869 16.8978 9.94545 17.2784 8.48 17.27C7.67887 17.2755 6.88097 17.1678 6.11 16.95C6.53 16.27 6.81 15.66 6.96 15.15L7.55 12.86C7.69 13.14 7.96 13.38 8.35 13.59C8.75 13.79 9.15 13.9 9.59 13.9C10.46 13.9 11.24 13.65 11.93 13.15C12.6393 12.6243 13.1923 11.9157 13.53 11.1C13.9164 10.1723 14.107 9.17477 14.09 8.16997C14.09 6.86997 13.59 5.75997 12.6 4.80997C12.0926 4.33219 11.4955 3.95979 10.8432 3.71433C10.191 3.46887 9.49649 3.35522 8.8 3.37997C7.87 3.37997 7 3.53997 6.22 3.85997C5.25219 4.22776 4.41531 4.87453 3.81538 5.71834C3.21546 6.56216 2.87947 7.56505 2.85 8.59997C2.85 9.34997 2.99 10.01 3.28 10.58C3.56 11.14 3.98 11.54 4.55 11.78C4.65 11.82 4.74 11.82 4.81 11.78C4.88 11.75 4.93 11.68 4.96 11.58L5.14 10.9C5.19 10.75 5.16 10.6 5.03 10.45C4.64003 9.99866 4.43626 9.41595 4.46 8.81997C4.45125 8.27941 4.55327 7.74278 4.75979 7.24315C4.96631 6.74352 5.27295 6.29146 5.66082 5.91484C6.04868 5.53822 6.50956 5.245 7.01505 5.05327C7.52053 4.86153 8.05993 4.77533 8.6 4.79997C9.69 4.79997 10.54 5.09997 11.14 5.68997C11.75 6.28997 12.06 7.05997 12.06 8.00997C12.06 8.80997 11.95 9.54997 11.73 10.22C11.5533 10.8263 11.2344 11.3816 10.8 11.84C10.4 12.24 9.93 12.44 9.4 12.44C8.97 12.44 8.62 12.29 8.34 11.97C8.07 11.65 7.98 11.27 8.08 10.84C8.23266 10.3055 8.38934 9.77212 8.55 9.23997L8.73 8.50997C8.79 8.24997 8.82 8.03997 8.82 7.85997C8.82 7.49997 8.72 7.19997 8.54 6.96997C8.34 6.73997 8.07 6.61997 7.71 6.61997C7.26 6.61997 6.88 6.81997 6.58 7.23997C6.28 7.64997 6.12 8.16997 6.12 8.79997C6.125 9.18991 6.18562 9.57715 6.3 9.94997L6.36 10.1C5.76 12.68 5.41 14.2 5.28 14.64C5.16 15.19 5.12 15.84 5.15 16.58C3.66706 15.9236 2.40583 14.8519 1.51859 13.4945C0.631345 12.137 0.15602 10.5517 0.150002 8.92997C0.150002 6.62997 0.960001 4.64997 2.59 3.02997C3.35181 2.23954 4.26743 1.61349 5.28041 1.19041C6.2934 0.767328 7.3823 0.556177 8.48 0.569971V0.579971Z"
        fill="currentColor"></path>
      </svg>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_snapchat_link != blank -%}
  <li>
    <a
      class="unstyled-link social-icons--link focus-inside"
      target="_blank"
      title="snapchat"
      href="{{ settings.social_snapchat_link }}"
    >
      <svg width="18" height="17" viewBox="0 0 18 17" fill="none">
        <path d="M17.0996 12.8406C17.2324 12.575 17.0664 12.3425 16.8672 12.3093C14.543 11.9441 13.5137 9.55347 13.4473 9.45386C13.3145 9.18823 13.3145 8.98901 13.3809 8.823C13.5137 8.52417 14.0117 8.35815 14.3105 8.25854C14.4102 8.22534 14.5098 8.19214 14.5762 8.15894C15.1406 7.92651 15.4395 7.66089 15.4395 7.32886C15.4062 7.09644 15.2402 6.86401 14.9082 6.7312C14.709 6.66479 14.4434 6.66479 14.2441 6.7312C13.9453 6.86401 13.7129 6.93042 13.4805 6.96362C13.3477 6.93042 13.248 6.89722 13.2148 6.86401C13.2812 5.6687 13.4473 3.97534 13.0156 3.01245C12.2188 1.21948 10.5586 0.322998 8.79883 0.322998C8.76562 0.322998 8.5 0.322998 8.4668 0.322998C7.76953 0.322998 5.41211 0.522217 4.2832 3.04565C3.85156 3.97534 4.01758 5.7019 4.08398 6.86401C4.01758 6.89722 3.91797 6.96362 3.75195 6.96362C3.51953 6.96362 3.28711 6.89722 2.98828 6.7312C2.58984 6.56519 1.95898 6.83081 1.89258 7.26245C1.82617 7.49487 1.95898 7.86011 2.72266 8.15894C3.02148 8.29175 3.75195 8.42456 3.91797 8.823C3.98438 8.98901 3.98438 9.18823 3.85156 9.45386C3.78516 9.55347 2.75586 11.9441 0.431641 12.3093C0.265625 12.3425 0.132812 12.5085 0.132812 12.6746H0.166016C0.199219 13.3718 1.72656 13.6375 2.42383 13.7703C2.49023 13.8367 2.55664 14.2351 2.65625 14.5671C2.68945 14.7 2.78906 14.866 3.05469 14.866C3.32031 14.866 3.71875 14.7 4.34961 14.7C5.21289 14.7 5.51172 14.8992 6.20898 15.3972C6.70703 15.7292 7.57031 16.3601 8.63281 16.2937C9.66211 16.3269 10.3594 15.8953 11.0898 15.3972C11.7871 14.8992 12.0859 14.7 12.9492 14.7C13.6133 14.7 13.9453 14.8328 14.2441 14.8328C14.4766 14.8328 14.6094 14.7332 14.6426 14.5339C14.7422 14.2351 14.8086 13.8367 14.875 13.7371C16.2031 13.5378 16.9336 13.239 17.0996 12.8406Z"
        fill="currentColor" />
      </svg>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_linkedin_link != blank -%}
  <li>
    <a
      class="unstyled-link social-icons--link focus-inside"
      target="_blank"
      title="linkedin"
      href="{{ settings.social_linkedin_link }}"
    >
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.23828 15.6667V5.73901H1.15039V15.6667H4.23828ZM2.67773 4.41089C3.67383 4.41089 4.4707 3.58081 4.4707 2.58472C4.4707 1.62183 3.67383 0.791748 2.67773 0.791748C1.71484 0.791748 0.917969 1.62183 0.917969 2.58472C0.917969 3.58081 1.71484 4.41089 2.67773 4.41089ZM15.793 15.6667V10.2214C15.793 7.56519 15.1953 5.50659 12.0742 5.50659C10.5801 5.50659 9.58398 6.33667 9.15234 7.10034H9.11914V5.73901H6.16406V15.6667H9.25195V10.7527C9.25195 9.45776 9.48438 8.22925 11.1113 8.22925C12.6719 8.22925 12.7051 9.69019 12.7051 10.8523V15.6667H15.793Z"
        fill="currentColor" />
      </svg>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_tiktok_link != blank -%}
  <li>
    <a class="social-icons--link" target="_blank" title="Tiktok" href="{{ settings.social_tiktok_link }}">
      <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.32173 0.00390625H8.63951C8.63951 0.00390625 8.50729 2.97502 11.8517 3.19279V5.48724C11.8517 5.48724 10.0628 5.59613 8.63951 4.50724L8.66284 9.25168C8.66284 10.1012 8.41084 10.9315 7.93874 11.6377C7.46664 12.3439 6.79565 12.8942 6.01069 13.2189C5.22574 13.5437 4.36209 13.6282 3.52905 13.4619C2.69602 13.2957 1.93103 12.886 1.33091 12.2848C0.730788 11.6836 0.322503 10.9178 0.157723 10.0845C-0.00705696 9.25115 0.0790758 8.38766 0.405221 7.6033C0.731366 6.81893 1.28286 6.14894 1.98992 5.67812C2.69698 5.2073 3.52781 4.95681 4.37729 4.95835H4.97617V7.31501C4.58541 7.19393 4.16642 7.19917 3.77881 7.33C3.3912 7.46083 3.05473 7.71057 2.81727 8.0437C2.57982 8.37682 2.45348 8.77635 2.45624 9.18544C2.459 9.59452 2.59071 9.99231 2.83263 10.3222C3.07455 10.6521 3.41436 10.8973 3.8037 11.0229C4.19303 11.1485 4.61206 11.1481 5.00116 11.0217C5.39025 10.8954 5.72958 10.6495 5.97087 10.3192C6.21215 9.98881 6.3431 9.59077 6.34506 9.18168L6.32173 0.00390625Z" fill="currentColor"></path>
      </svg>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_tumblr_link != blank -%}
  <li>
    <a class="social-icons--link" target="_blank" title="Tiktok" href="{{ settings.social_tumblr_link }}">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.1636 17.1957C18.0404 17.1286 17.8904 17.1352 17.7734 17.2129C16.8877 17.8004 15.9897 18.0983 15.1043 18.0983C14.6285 18.0983 14.2197 17.9911 13.853 17.7695C13.6037 17.6206 13.3721 17.3602 13.2891 17.1339C13.2086 16.9187 13.2095 16.3395 13.2107 15.5379L13.2111 10.65H17.2354C17.4459 10.65 17.6165 10.4777 17.6165 10.2654V6.8309C17.6165 6.61852 17.4459 6.44629 17.2354 6.44629H13.2111V2.38461C13.2111 2.17223 13.0405 2 12.83 2H10.1189C9.92623 2 9.76387 2.14515 9.74054 2.33823C9.62727 3.27892 9.41597 4.05999 9.11191 4.66099C8.81539 5.2533 8.41422 5.76875 7.91891 6.19368C7.52208 6.53521 6.84276 6.86567 5.8997 7.1759C5.74282 7.22752 5.63672 7.37506 5.63672 7.54159V10.2654C5.63672 10.4778 5.80731 10.65 6.01785 10.65H8.2248V17.0089C8.2248 17.9459 8.32328 18.651 8.52604 19.1648C8.73261 19.6867 9.09933 20.1782 9.61629 20.6258C10.1248 21.0655 10.7437 21.4094 11.4577 21.6487C12.15 21.8765 12.7014 22 13.631 22C14.4169 22 15.166 21.9178 15.8578 21.7555C16.5378 21.5953 17.3074 21.3123 18.1452 20.9144C18.2788 20.8509 18.364 20.7154 18.364 20.5664V17.5343C18.3638 17.3929 18.287 17.2629 18.1636 17.1957Z" fill="currentColor"/>
      </svg>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_vimeo_link != blank -%}
  <li>
    <a class="social-icons--link" target="_blank" title="Tiktok" href="{{ settings.social_vimeo_link }}">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 8.34065L3.85098 9.37327C3.85098 9.37327 5.45239 7.96305 5.83146 8.9032C6.21053 9.84334 8.75573 17.8346 8.75573 17.8346C8.75573 17.8346 9.5139 20 11.2081 20C12.7476 20 14.0241 18.5744 15.0143 17.5726C17.6833 14.8831 20.4529 11.5618 20.9635 7.67792C21.1956 5.91323 20.3214 4.05605 18.3486 4.00211C17.3352 3.97128 16.2908 4.27953 15.463 4.84978C14.3181 5.64351 13.6682 6.91502 13.382 8.24818C13.382 8.24818 14.8906 7.21556 15.6487 8.43312C16.1051 9.17291 15.7879 10.1208 15.4321 10.8374C15.0917 11.5233 14.7049 12.1937 14.2871 12.841C13.9931 13.2957 13.5367 14.074 12.9101 14.074C12.1519 14.074 11.8889 12.2322 11.7806 11.7313C11.3783 9.96664 11.3938 8.13259 10.86 6.39871C10.5428 5.35838 9.85428 3.74781 8.47724 4.10229C5.55295 4.85749 3 8.34065 3 8.34065Z" fill="currentColor"/>
      </svg>
    </a>
  </li>
{%- endif -%}
