{{ 'collection-tab.css' | asset_url | stylesheet_tag }}
<div class="collection-tab-section section-gap color-{{ section.settings.color_scheme }}">
  <custom-tabs-click class="page--width">
    <div class="collection-tab-heading flex inde">
      {% if section.settings.heading != blank or section.settings.description != blank %}
        <heading-main class="main-heading">
          {% if section.settings.heading != blank %}
            <{{ section.settings.heading_seo }} class="section-title {{ section.settings.heading_size }}">
              {% if section.settings.heading != blank -%}
                {{- section.settings.heading -}}
              {% endif %}
            </{{ section.settings.heading_seo }}>
          {% endif %}
          {% if section.settings.description != blank %}
            <div class="section-description {{ section.settings.description_size }}">
              {{ section.settings.description | newline_to_br }}
            </div>
          {% endif %}
        </heading-main>
      {% endif %}
    </div>
    <div class="collection-tab--wrapper" data-tab-group>
      <div class="collection-tab--panel tab-{{ section.settings.tab_style }}">
        <ul class="tab-nav">
          {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
              {% assign collection = block.settings.collection %}
              <li class="tab-nav-item">
                <a
                  href="#collection-tab-{{ block.id }}"
                  data-url="#tab-{{ block.id }}"
                  data-tab-head
                  class="tab-nav-link {% if forloop.first%}is-active{% endif %}"
                >
                  <div class="tab-image">
                    {%- if collection.featured_image -%}
                      {%- liquid
                        assign height = collection.featured_image.width | divided_by: collection.featured_image.aspect_ratio | round
                        assign sizes = '100vw'
                        assign widths = '100, 150, 200, 300, 500, 600'
                      -%}
                      {{
                        collection.featured_image
                        | image_url: width: 1200
                        | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                      }}
                    {% else %}
                      {%- capture current -%}{% cycle section.id: 1, 2, 3, 4 %}{%- endcapture -%}
                      {%- assign placeholder_image = 'collection-apparel-' | append: current -%}

                      {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>

                  <span>
                    {% if block.settings.collection_heading != blank or collection != blank %}
                      {{ block.settings.collection_heading | default: collection.title -}}
                    {% else %}
                     {{'sections.collection_tab.title' | t}}
                    {% endif -%}
                  </span>
                </a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>

      <div class="collection-tab--slider">
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            {% assign collection = block.settings.collection %}

            <collection-tab-items
              id="tab-{{ block.id }}"
              class="tab-collections-content {% if forloop.first %}is-active{% endif %}"
              {{ block.shopify_attributes }}
              data-tab-content
            >
            <slider-component
              class="swiper"
              data-settings='
                {
                  "loop": true,
                  "slidesPerView": {{ section.settings.mobile_item_per_row }},
                  "centeredSlides": false,
                  "speed": 500,
                  "spaceBetween": "{{ section.settings.column_gap_mobile }}px",
                  "navigation": {
                    "nextEl": ".swiper-button-next-{{ block.id }}",
                    "prevEl": ".swiper-button-prev-{{ block.id }}"
                  },
                  "grabCursor": true,
                  "breakpoints": {
                    "768": {
                      "slidesPerView": 3,
                      "spaceBetween": "{{ section.settings.column_gap }}px"
                    },
                    "1081": {
                      "slidesPerView": 4,
                      "spaceBetween": "{{ section.settings.column_gap }}px"
                    }
                  }
                }
              '
            >

                <div class="swiper-wrapper" data-id="{{  block.id  }}">
                  {%- if block.settings.collection != blank and block.settings.collection.all_products_count > 0 -%}
                    {% for product in block.settings.collection.products limit: section.settings.products_count %}
                      {% assign product_form_id = 'product-form-'
                        | append: block.id
                        | append: forloop.index
                        | append: '-'
                        | append: block.settings.collection.handle
                        | append: 'now'
                        | date: '%N'
                        | modulo: 1000
                      %}

                      {%- capture current -%}{% cycle section.id: 1, 2, 3, 4 %}{%- endcapture -%}
                      {%- assign placeholder_image = 'product-apparel-' | append: current -%}
                      {% render 'product-card',
                        product_card: product,
                        section: section,
                        slider: true,
                        block: block,
                        product_form_id: product_form_id,
                        placeholder_image: placeholder_image,
                        media_ratio: section.settings.image_size
                      %}
                    {% endfor %}
                  {% else %}
                    {% assign limit = section.settings.products_count %}
                    {%- for i in (1..limit) -%}
                      {%- capture current -%}{% cycle section.id: 1, 2, 3, 4 %}{%- endcapture -%}
                      {%- assign placeholder_image = 'product-apparel-' | append: current -%}
                      {% render 'product-card',
                        section: section,
                        placeholder_image: placeholder_image,
                        slider: true,
                        block: block,
                        media_ratio: section.settings.image_size
                      %}
                    {% endfor %}
                  {% endif %}
                </div>
              </slider-component>
              <div class="slider-controls {% if section.settings.products_count<=4  and block.settings.collection.products.size<= 4 %}desktop-hidden{% endif %}">
                {%- if block.settings.btn_text != blank and block.settings.collection != blank -%}
                  <a
                    href="{{product.link }}"
                    class="{% if block.settings.button_style == 'text' %}underline--link{% else %} {{ settings.button_font }}-font button button-{{ block.settings.button_style }} button-{{ block.settings.btn_size }} hover-{{ block.settings.hover_effect }}{% endif %}"
                  >
                    <span class="button-text">{{ block.settings.btn_text }}</span>
                    {% if block.settings.button_style == 'text' %}
                      <span class="link-arrow">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H8V8H7V1.707L1.354 7.354L1 7.707L0.293 7L0.646 6.646L6.293 1H0V0Z" fill="currentColor"/>
                        </svg>
                      </span>
                    {% endif %}
                  </a>
                {% endif %}
                <div class="swiper-button-prev swiper-button swiper-button-prev-{{ block.id }}"></div>
                <div class="swiper-button-next swiper-button swiper-button-next-{{ block.id }}"></div>
              </div>
            </collection-tab-items>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </custom-tabs-click>
</div>
<style>
  #shopify-section-{{ section.id }} {
    --section-gap-top:{{ section.settings.top_space_desktop }}px;
    --section-gap-bottom:{{ section.settings.bottom_space_desktop }}px;

  }

  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}.shopify-section{
      --section-gap-top:{{ section.settings.top_space_mobile }}px;
      --section-gap-bottom:{{ section.settings.bottom_space_mobile }}px;
      --grid-item-per-row:{{ section.settings.mobile_item_per_row }};
    }

  }
</style>
{% schema %}
{
   "name": "t:sections.collection-tab.name",
   "class": "section-collection-tab",
   "tag": "section",
   "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
        "type": "color_scheme",
        "id":"color_scheme",
        "label": "t:global.color_scheme.label",
        "default":"scheme-1"
    },
    {
          "type":"inline_richtext",
          "id":"heading",
         "label": "t:global.general_label.heading.label",
          "default":"Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "default": "h5",
         "label": "t:global.heading_size.label",
      "options": [
        {
          "value": "h1",
          "label": "t:global.heading_size.options.h1.label"
        },
        {
          "value": "h2",
         "label": "t:global.heading_size.options.h2.label"
        },
        {
          "value": "h3",
         "label": "t:global.heading_size.options.h3.label"
        },
        {
          "value": "h4",
        "label": "t:global.heading_size.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:global.heading_size.options.h5.label"
        },
        {
          "value": "h6",
        "label": "t:global.heading_size.options.h6.label"
        }
      ]

        },
        {
          "type": "select",
          "id": "heading_seo",
          "default": "h4",
          "label": "t:global.heading_seo.label",
      "info": "t:global.heading_seo.info",
      "options": [
         {
            "value": "h1",
            "label": "t:global.heading_seo.options.h1.label"
          },
          {
            "value": "h2",
           "label": "t:global.heading_seo.options.h2.label"
          },
          {
            "value": "h3",
           "label": "t:global.heading_seo.options.h3.label"
          },
          {
            "value": "h4",
          "label": "t:global.heading_seo.options.h4.label"
          },
          {
            "value": "h5",
            "label": "t:global.heading_seo.options.h5.label"
          },
          {
            "value": "h6",
          "label": "t:global.heading_seo.options.h6.label"
          }
        ]
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "t:global.general_label.description.label",
          "default":"Tell your brand's story through images"
        },
         {
          "type": "select",
          "id": "description_size",
          "default": "text-lg",
         "label": "t:global.description_size.label",
          "options": [
            {
              "value": "text-xl",
              "label": "t:global.description_size.options.x-large.label"
            },
            {
              "value": "text-lg",
              "label": "t:global.description_size.options.large.label"
            },
            {
              "value": "text-base",
              "label": "t:global.description_size.options.medium.label"
            },
            {
              "value": "text-sm",
              "label": "t:global.description_size.options.small.label"
            },
            {
              "value": "text-xs",
              "label": "t:global.description_size.options.x-small.label"

            }
          ]
        },
    {
      "type": "range",
      "id": "products_count",
      "min": 4,
      "max": 6,
      "step": 1,
       "label":"t:sections.collection-tab.settings.products_count.label",
      "default": 5
    },
     {
          "type": "select",
          "id": "mobile_item_per_row",
          "label": "t:sections.collection-tab.settings.mobile_item_per_row.label",
          "default":"2",
          "options": [
            {
              "label": "t:sections.collection-tab.settings.mobile_item_per_row.options.options__1.label",
              "value": "1"
            },
             {
               "label": "t:sections.collection-tab.settings.mobile_item_per_row.options.options__2.label",
              "value": "2"
            }
          ]
    },
    {
      "type": "select",
      "id":"tab_style",
      "label": "t:sections.collection-tab.settings.tab_style.label",
      "default":"vertical",
      "options": [
        {
          "label": "t:sections.collection-tab.settings.tab_style.options.horizontal.label",
          "value": "horizontal"
        },
        {
          "label": "t:sections.collection-tab.settings.tab_style.options.vertical.label",
          "value": "vertical"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_size",
       "default": "adapt",
       "label": "t:global.image_size.label",
        "options": [
          {
            "value": "adapt",
            "label": "t:global.image_size.options.auto.label"
          },
          {
            "value": "landscape",
            "label": "t:global.image_size.options.landscape.label"
          },
          {
            "value": "portrait",
            "label": "t:global.image_size.options.portrait.label"
          },
          {
            "value": "square",
            "label": "t:global.image_size.options.square.label"
          }
        ]
    },
    {
        "type": "range",
        "id":"column_gap",
        "label":"t:global.general_label.column_gap.label",
        "min":0,
        "max":50,
        "default":20,
        "step": 1,
        "unit": "px"
    },
    {
      "type": "range",
      "id":"column_gap_mobile",
     "label":"t:global.general_label.column_gap_mobile.label",
      "min":0,
      "max":50,
      "default":20,
      "step": 1,
      "unit": "px"
    },
     {
    "type": "header",
     "content": "t:global.section_spacing.content"
    },
    {
    "type": "range",
    "id": "top_space_desktop",
   "label": "t:global.section_spacing.top_space_desktop.label",
    "default": 70,
    "min": 0,
    "max": 150,
    "step": 5
  },
  {
    "type": "range",
    "id": "bottom_space_desktop",
   "label": "t:global.section_spacing.bottom_space_desktop.label",
    "default": 70,
    "min": 0,
    "max": 150,
    "step": 5
  },
  {
    "type": "range",
    "id": "top_space_mobile",
    "label": "t:global.section_spacing.top_space_mobile.label",
    "default": 40,
    "min": 0,
    "max": 100,
    "step": 5
  },
  {
    "type": "range",
    "id": "bottom_space_mobile",
     "label": "t:global.section_spacing.bottom_space_mobile.label",
    "default": 40,
    "min": 0,
    "max": 100,
    "step": 5
  }
  ],
  "blocks": [
    {
      "type": "collection-tab",
      "name":"t:sections.collection-tab.blocks.name",
      "settings": [
        {
          "type": "text",
          "id": "collection_heading",
         "label": "t:global.general_label.heading.label"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:global.general_label.collection.label"
        },
         {
          "type": "header",
            "content": "t:global.header.button.content"
          },
        {
          "type": "text",
          "id": "btn_text",
          "label": "t:global.general_label.text.label",
          "default":"Shop now"
        },
        {
          "type": "select",
          "id": "btn_size",
           "default": "sm",
            "label": "t:global.btn_size.label",
          "options": [
           {
              "label": "t:global.btn_size.options.xsmall.label",
              "value": "xsm"

            },
            {
             "label": "t:global.btn_size.options.small.label",
              "value": "sm"

            },
            {
              "label": "t:global.btn_size.options.medium.label",
              "value": "md"

            },
            {
             "label": "t:global.btn_size.options.large.label",
              "value": "lg"

            }
          ]
        },
        {
          "type":"select",
          "id":"button_style",
           "label": "t:global.button_style.label",
          "options": [
            {
              "label": "t:global.button_style.options.solid.label",
              "value": "solid"
            },
            {
              "label": "t:global.button_style.options.outline.label",
              "value": "outline"
            },
            {
              "label": "t:global.button_style.options.text.label",
              "value":"text"
            }
          ]
        },
        {
          "type": "select",
          "id":"hover_effect",
          "label": "t:global.hover_effect.label",
          "options": [
            {
              "label": "t:global.hover_effect.options.standard.label",
              "value": "standard"
            },
            {
              "label": "t:global.hover_effect.options.none.label",
              "value": "none"
            }
          ] 

        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-tab.presets.name",
      "blocks": [
        {
          "type": "collection-tab"
        },
        {
          "type": "collection-tab"
        },
        {
          "type": "collection-tab"
        }
      ]
    }
  ]
}
{% endschema %}
