{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="customer login section-gap color-{{ section.settings.color_scheme }}">
  <div class="customer_wrapper">
    <div id="recover">
      <div class="customer-head text-align-{{ section.settings.content_alignment }}">
        {% if section.settings.heading != blank %}
          <{{ section.settings.heading_seo }} class="section-title body-font {{ section.settings.heading_size }}">
            {{- section.settings.heading -}}
          </{{ section.settings.heading_seo }}>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="section-description {{ section.settings.description_size }}">
            {{ section.settings.description | newline_to_br }}
          </div>
        {% endif %}
      </div>
      {%- form 'reset_customer_password' -%}
        {%- if form.errors -%}
          <h2 class="form-message" tabindex="-1" autofocus>
            <span class="hidden">{{ 'accessibility.error' | t }} </span>
            <svg aria-hidden="true" focusable="false">
              <use href="#icon-error" />
            </svg>
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
          <ul>
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  <a href="#{{ field }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

        <div class="form-control">
          <label for="password" class="hidden">{{ 'customer.reset_password.password' | t }}</label>
          <input
            type="password"
            name="customer[password]"
            id="password"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password' | t }}"
            required
            class="input"
          >
        </div>

        <div class="form-control">
          <label class="hidden" for="password_confirmation">
            {{- 'customer.reset_password.password_confirm' | t -}}
          </label>
          <input
            type="password"
            class="form-input-field"
            name="customer[password_confirmation]"
            id="password_confirmation"
            {% if form.errors contains 'password_confirmation' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
            required
          >
        </div>

        <button class="button button-md w-100 {{ settings.button_font }}-font">
          <span>{{ 'customer.login_page.submit' | t }}</span>
        </button>
      {% endform %}
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }} {
    --section-gap-top:{{ section.settings.top_space_desktop }}px;
    --section-gap-bottom:{{ section.settings.bottom_space_desktop }}px;
  }

  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}.shopify-section{
      --section-gap-top:{{ section.settings.top_space_mobile }}px;
      --section-gap-bottom:{{ section.settings.bottom_space_mobile }}px;
    }

  }
</style>
{% schema %}
  {
    "name": "t:sections.main-reset-password.name",
    "class":"section-customers-reset",
    "tag": "section",
    "settings": [
      {
    "type": "color_scheme",
    "id":"color_scheme",
    "label": "t:global.color_scheme.label",
    "default":"scheme-3"
  },
  {
      "type":"inline_richtext",
      "id":"heading",
      "label": "t:global.general_label.heading.label",
      "default":"Reset your password"
    },
    {
      "type": "select",
      "id": "heading_size",
      "default": "h1",
     
      "label": "t:global.heading_size.label",
      "options": [
        {
          "value": "h1",
          "label": "t:global.heading_size.options.h1.label"
        },
        {
          "value": "h2",
         "label": "t:global.heading_size.options.h2.label"
        },
        {
          "value": "h3",
         "label": "t:global.heading_size.options.h3.label"
        },
        {
          "value": "h4",
        "label": "t:global.heading_size.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:global.heading_size.options.h5.label"
        },
        {
          "value": "h6",
        "label": "t:global.heading_size.options.h6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_seo",
      "default": "h2",
      "label": "t:global.heading_seo.label",
      "info": "t:global.heading_seo.info",
      "options": [
         {
            "value": "h1",
            "label": "t:global.heading_seo.options.h1.label"
          },
          {
            "value": "h2",
           "label": "t:global.heading_seo.options.h2.label"
          },
          {
            "value": "h3",
           "label": "t:global.heading_seo.options.h3.label"
          },
          {
            "value": "h4",
          "label": "t:global.heading_seo.options.h4.label"
          },
          {
            "value": "h5",
            "label": "t:global.heading_seo.options.h5.label"
          },
          {
            "value": "h6",
          "label": "t:global.heading_seo.options.h6.label"
          }
        ]
    },
    {
      "type": "textarea",
      "id": "description",
       "label": "t:global.general_label.description.label",
      "default":"Enter your email to recover your password"
    },
     {
      "type": "select",
      "id": "description_size",
      "default": "text-lg",
       "label": "t:global.description_size.label",
          "options": [
            {
              "value": "text-xl",
              "label": "t:global.description_size.options.x-large.label"
            },
            {
              "value": "text-lg",
              "label": "t:global.description_size.options.large.label"
            },
            {
              "value": "text-base",
              "label": "t:global.description_size.options.medium.label"
            },
            {
              "value": "text-sm",
              "label": "t:global.description_size.options.small.label"
            },
            {
              "value": "text-xs",
              "label": "t:global.description_size.options.x-small.label"

            }
          ]
},
{
  "type": "text_alignment",
  "id":"content_alignment",
  "label": "t:global.content_alignment.label",
  "default":"center"
},
  {
    "type": "header",
    "content": "t:global.section_spacing.content"
    },
    {
    "type": "range",
    "id": "top_space_desktop",
    "label": "t:global.section_spacing.top_space_desktop.label",
    "default": 70,
    "min": 0,
    "max": 150,
    "step": 5
  },
  {
    "type": "range",
    "id": "bottom_space_desktop",
     "label": "t:global.section_spacing.bottom_space_desktop.label",
    "default": 70,
    "min": 0,
    "max": 150,
    "step": 5
  },
  {
    "type": "range",
    "id": "top_space_mobile",
    "label": "t:global.section_spacing.top_space_mobile.label",
    "default": 40,
    "min": 0,
    "max": 100,
    "step": 5
  },
  {
    "type": "range",
    "id": "bottom_space_mobile",
     "label": "t:global.section_spacing.bottom_space_mobile.label",
    "default": 40,
    "min": 0,
    "max": 100,
    "step": 5
  }
    ]
  }
{% endschema %}
